<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style_layout.css">
	</head>	
<body>
	<div id = "wrapper">
		<header>
			<h1>My Site </h1>
		</header>
		<nav>Home | Links | Contact </nav>
		<article> 
			<h1>Welcome</h1>
			<section> 
				<h2> This is part one </h2>
				<p> Some stuff written here </p>
			</section>
				<section> 
				<h2> This is part two </h2>
				<p> Some stuff written here </p>
			</section>
		</article>
		<aside> 
			<h3> Sidebar </h3>
			<p> Some text! </p>		
		</aside>		
		<div id = "footer">This is a site I made</div>
		

	</div>
</body>
</html> 

