/*SECTION 1: All Page specific CSS */
body {
	background-color: #F5F5F5;
	font-family: Arial,Helvetica,Verdana,sans-serif;
	color: #3F3F3F;


}

#site-wrapper {
	margin: 0 auto;
	width: 960px; 
	border: 1px solid #DBD6D0;
	min-height: 800px;
	border-bottom: 6px solid #DBD6DO;
}

/*File Header*/
.file-header {
	display: block;
	width: 800px;
	height: 50px;
	margin-left: 80px;
}

.file-image-header {
	width: 80px;
	height: 50px;
	text-align: center;
}

.file-name-header {
	width: 400px;
	height: 50px;
	text-align: center;
}

.file-modified-header {
	width: 100px;
	height: 50px;
	text-align: center;
}

.file-download-header {
	width: 200px;
	height: 50px;
	text-align: center;
}



/*Files*/
#user-files {
	position: relative;
	top: -30px;
}

.file {
	display: block;
	width: 800px;
	height: 50px;
	margin-left: 80px;
	margin-bottom: 30px;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
}

.file-image {
	margin-top: 2px;
	width: 80px;

}

.file-name {
	width: 400px;
	border: 1px solid green;
}

.file-modified {
	margin-top: 2px;
	width: 100px;
}

.file-download {
	width: 200px;
}


.float {
	float: left;
}

.clear {
	clear: both;
}

.file-button {
	
	position: relative;
	left: 780px;
	top: -66px;
}