*{
	margin:0;
	padding:0;
}

body{
	color:#eee;

	font:Calibri,Arial,sans-serif;
	border-top:5px solid #212121;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

input[type="text"]:focus {
  outline: none;
}