#report-connection {
	position: absolute;
	top: 210px;
	left: 360px;
	background-color: #FFFFFF;
	border: 2px solid #F4F4F4;
	border: 2px solid #F2F2F2;
	height: 500px;
	width: 560px;
	margin-top: 12px;
	margin-bottom: 60px;
	padding-bottom: 100px;
	margin-left: 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}